
body{
    background-color: rgba(58, 86, 106, 1);
    color: rgba(227, 216, 186, 1);
    font-family: 'Quicksand', sans-serif;
    font-weight: 600;
}

#outer-box{
    height: 900px;
    width: 1400px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    background-color: rgba(6, 15, 34, 0.37);
    border-radius: 30px;
}

#header{
    height: 130px;
}

#vs-counter{
    height: 280px;
}

#card-counter{
    height: 300px;
}

#message-counter{
    height: 140px;
}

#heading{
    background-color: rgba(13, 12, 12, 0.7);
    width: 691.25px;
    height: 90px;
    border-radius: 20px;
    position: relative;
    margin: auto;
    top: 27px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#heading h3{
    font-size: 45px;
}

