body{
    background-color: rgba(58, 86, 106, 1);
    color: rgba(227, 216, 186, 1);
    font-family: 'Balthazar', serif;
    font-weight: 600;
}

#outer-box{
    height: 920px;
    width: 1600px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    background-color: rgba(6, 15, 34, 0.37);
    border-radius: 30px;
}

#header{
    height: 130px;
    position: relative;
}

#vs-counter{
    height: 280px;
    position: relative;
}

#card-counter{
    height: 360px;
    position: relative;
}

#message-counter{
    height: 150px;
    position: relative;
}

#heading{
    background: rgba(13, 12, 12, 0.7);
    width: 691.25px;
    height: 90px;
    border-radius: 20px;
    position: relative;
    margin: auto;
    top: 27px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#heading h3{
    font-size: 45px;
}

.tries{
    position: absolute;
    width: 113.75px;
    height: 36px;
    background: rgba(58, 86, 106, 1);
    border-radius: 10px;
    align-items: center;
    display: flex;
    justify-content: center;
    top: 117.5px;
}

.player.tries{
    left: 419.38px;
}

.computer.tries{
    left: 1066.88px;
}

.card-counter{
    position: absolute;
    width: 195px;
    height: 263.41px;
    background: rgba(21, 41, 68, 0.76);
    border-radius: 10px;
    top: 14px;
}

.player.card-counter{
    left: 553.75px;
}

.computer.card-counter{
    left: 851.25px
}

#vs{
    font-size: 40px;
    position: absolute;
    left: 800px;
    transform: translateX(-50%);
    top: 117.5px;
}

.cards{
    position: absolute;
    width: 227.5px;
    height: 243.41px;
    top: 53.6px;
    transition: all 1s;
}

.cards.player{
    left: 238.13px;
}

.cards.computer{
    left: 1134.38px;
}

.card{
    top: 0px;
    width: 175px;
    height: 243.41px;
    box-shadow: -20px 0px 30px 10px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    position: absolute;
    transform: rotateY(0deg);
    transition: left 1s,top 1s,box-shadow 1s,transform 0.5s;
}

.card.rock{
    left: 0px;
}
.card.paper{
    left: 26px;
}

.card.scissor{
    left: 52px;
}

#button{
    width: 131.25px;
    height: 72px;
    background: #192E47;
    border-radius: 20px;
    position: absolute;
    left: 734.38px;
    top: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    transition: transform 0.2s;
}

#message-counter{
    display: flex;
    justify-content: center;
    align-items: center;
}

#message-panel{
    position: absolute;
    width: 630px;
    height: 72px;
    background: #3A566A;
    border-radius: 10px;
}

.cards-hover{
    width: 545px;
    transform: translateX(-33.9444954%);
}

.card.rock.hover{
    left: 0px;
}

.card.paper.hover{
    left: 185px;
}

.card.scissor.hover{
    left: 370px;
}

#player-card{
    left: 510.75px;
    top: -313.6px;
    box-shadow: 0 0 40px 10px rgba(0, 0, 0, 0.25);
}

#computer-card-back{
    top: -313.6px;
    box-shadow: 0 0 40px 10px rgba(0, 0, 0, 0.25);
    left: -88.1325px;
}

.computer-card{
    top: -313.6px;
    box-shadow: 0 0 40px 10px rgba(0, 0, 0, 0.25);
    left: -88.1325px;
    transform: rotateY(90deg);
}

.back-rotate{
    transform: rotateY(90deg);
}

.front-rotate{
    transform: rotateY(0deg);
}

